body{
    background-image: url(../imagens/fdn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    
}

.lt{
    
    height: 250px;
    width: 50%;
    background-color: rgba(241, 242, 243, 0.8 );
    margin: 170px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 25px 5px black;
    
}

.flex{
    text-align: center;
    margin-top: 150px;
}

#detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 300px;
    width: 450px;
    background-color: #F1F2F3;
    text-align: center;
    margin: 250px auto;
    border-radius:20px ;
    box-shadow: 2px 2px 25px 5px black;
}

p{
    font-size:  1.2rem;
    color: #000;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.nega{
    margin-top: 100px;
}

.mg{
  text-align: center;
  margin-top: -150px;
}

.mgb{
    margin: 5px;
}

#cadastro{
    margin: 250px auto;
}

.center{
    text-align: center;
}

